services:
  middleware:
    container_name: middleware
    build:
      context: ./middleware
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    volumes:
      - ./middleware:/app
    environment:
      - FLASK_ENV=development