/* WRIGHT STATE FACULTY BUDGET BALANCER STYLE WOOHOOOOOOO */

/* Style da body */
body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: "mundial-narrow-variable", "ador-hairline", sans-serif; /* mundial as a body copy font (thanks Will), waiting on header typeface */
    /* background-color: bisque, blanchedalmond, antiquewhite; */
    background-image: linear-gradient(135deg, burlywood, bisque, beige);
    background-repeat: no-repeat;
    background-attachment: fixed; /* Don't scroll with content. Attempting for background purposes */
}

/* 
---------------
Style da header
---------------
*/
.header{
    background-color: transparent; /* Seperate this for now. Will change / be removed later */
    color: black;
    text-align: center;
    padding: 30px 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.header h1{
    margin: 0;
    font-size: 3rem;
    font-family: "ador-hairline";
}

.header p{
    margin-top: 8px;
    font-size: 1.1rem; /* halve the h1 maybe? */
    opacity: 0.85; /* whimsy */
    font-style: italic;
    font-family: "mundial-narrow-variable";
}

/* 
---------------
Style da quotes
---------------
*/
.quoteBox{
    background-color: whitesmoke;
    width: 70%;
    margin: 25px auto;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.6);

    transition: transform 200ms ease, box-shadow 200ms ease;
    transform-origin: center;
}

.quote{
    font-size: 1.1rem;
    font-family: "mundial-narrow-variable";
    font-style: italic;
    margin: 0px;
}

.quoteAuthor{
    margin-top: 10px;
    font-family: "mundial-narrow-variable";
    font-size: .8rem;  
}

/*
-----------------------
Style da search section (temporary for now, bar will look different later)
-----------------------
*/

.searchBarContainer{
    background-color: whitesmoke;
    padding: 25px;
    margin: 0px auto; /* Centers the dang thing */
    border-radius: 15px;
    width: 50%;
    text-align: center;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.6);
}

.searchBarContainer h2{
    margin-top: 0px;
    font-size: 1.8rem;
    font-family: "ador-hairline";
}

.searchBarContainer p{
    margin-bottom: 20px;
    font-size: 1.1rem;
    font-family: "mundial-narrow-variable";
}

/* Stuff here more of have to do with the search bar itself */
.searchBar{
    width: 90%;
    padding: 12px;
    font-size: 1.1rem;
    border-radius: 8px;
    border: 2px solid whitesmoke;
}

.searchBar:focus{
   border-color: darkgray; 
}

.searchButton{
    margin-top: 15px;
    padding: 12px 25px;
    font-size: 1.1rem;
    border: none;
    border-radius: 8px;
    background-color:gray;
    cursor: pointer;
    transition: .4s ease;
}

.searchButton:hover{
    background-color: darkgrey;
}

/* 
--------------------
Style for da results 
--------------------
*/
.resultsPage{
    width: min(1100px, 90%);
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Just so I can have two equally 'widthed' columns */
    gap: 20px;
}

/* Panels (left and right) */
.leftPanel{
    background: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.6);
    min-height: 500px;
}

.leftPanel h2{
    margin-top: 0px;
    font-size: 1.1rem;
    font-family: "ador-hairline";
}

.rightPanel{
    background: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.6);
    min-height: 500px;
}

.rightPanel h2{
    margin-top: 0px;
    font-size: 1.1rem;
    font-family: "ador-hairline";
}

.smallerBoxGrid{
    display: grid;
    margin-top: 14px;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
}

.metricBox{
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
    min-height:210px;
}

.metricBox h3{
    margin: 0px;
    font-size: 1.1rem;
}

/* Animations for the panels */
/* Keyframes */
@keyframes slideUpFade{
    from{
        transform: translateY(60px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
/* Animations themselves */
.leftPanel,
.rightPanel{
    transition: transform 200ms ease, box-shadow 200ms ease;
    transform-origin: center;
}

/* Please for the love of my CSS hating brain keep this separate from the other animation or everything goes breaky breaky */
.resultsPage{
    animation: slideUpFade 1.5s ease forwards;
}

.leftPanel:hover,
.rightPanel:hover{
    /* Scale Animation when cursor hovers*/
    transform: scale(1.08);
    box-shadow: 0px 3px 10px rgba(0,0,0,0.6);
    z-index: 2; /* Draw above yo neighbors */
    position: relative; /* Security for z index */ 
}

/* More animations for index */
.quoteBox:hover{
    /* Scale Animation when cursor hovers*/
    transform: scale(1.08);
    box-shadow: 0px 3px 10px rgba(0,0,0,0.6);
    z-index: 2; /* Draw above yo neighbors */
    position: relative; /* Security for z index */ 
}

.mainArea{
  animation: slideUpFade 1.5s ease forwards;
}

.quoteInner{
  animation: slideUpFade 1.5s ease forwards;
}