/* WRIGHT STATE FACULTY BUDGET BALANCER STYLE WOOHOOOOOOO */

/* Style da body */
body{
    margin: 0px;
    padding: 0px;
    font-family: "mundial-narrow-variable", "ador-hairline", sans-serif; /* mundial as a body copy font (thanks Will), waiting on header typeface */
    background-color: lightgrey;
}

/* 
---------------
Style da header
---------------
*/
.header{
    background-color: #006633; /* Seperate this for now. Will change / be removed later */
    color: whitesmoke;
    text-align: center;
    padding: 30px 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.header h1{
    margin: 0;
    font-size: 2.2rem;
    letter-spacing: 1px;
    font-family: "ador-hairline";
}

.header p{
    margin-top: 8px;
    font-size: 1.1rem; /* halve the h1 maybe? */
    opacity: 0.85; /* whimsy */
    font-style: italic;
    font-family: "mundial-narrow-variable";
}

/* 
---------------
Style da quotes
---------------
*/
.quoteBox{
    background-color: whitesmoke;
    width: 70%;
    margin: 25px auto;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.6);
}

.quote{
    font-size: 1.1rem;
    font-family: "mundial-narrow-variable";
    font-style: italic;
    margin: 0px;
}

.quoteAuthor{
    margin-top: 10px;
    font-family: "mundial-narrow-variable";
    font-size: .8rem;  
}

/*
-----------------------
Style da search section (temporary for now, bar will look different later)
-----------------------
*/

.searchBarContainer{
    background-color: whitesmoke;
    padding: 25px;
    margin: 0px auto; /* Centers the dang thing */
    border-radius: 15px;
    width: 50%;
    text-align: center;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.6);
}

.searchBarContainer h2{
    margin-top: 0px;
    font-size: 1.8rem;
    font-family: "ador-hairline";
}

.searchBarContainer p{
    margin-bottom: 20px;
    font-size: 1.1rem;
    font-family: "mundial-narrow-variable";
}

/* Stuff here more of have to do with the search bar itself */
.searchBar{
    width: 90%;
    padding: 12px;
    font-size: 1.1rem;
    border-radius: 8px;
    border: 2px solid whitesmoke;
}

.searchBar:focus{
   border-color: darkgray; 
}

.searchButton{
    margin-top: 15px;
    padding: 12px 25px;
    font-size: 1.1rem;
    border: none;
    border-radius: 8px;
    background-color:gray;
    cursor: pointer;
    transition: .4s ease;
}

.search-button:hover{
    background-color: darkgrey;
}