<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wright State Faculty Budget Balancer</title>
  <link rel="stylesheet" href="/static/style.css"/>
  <link rel="icon" type="image/jpg" href="/static/assets/favicon/monomoney.jpg">
</head>
<body>
    <h1>Page Not Found</h1>
    <!-- Footer -->
    <div class="footer">
    <p>Wright State Faculty Budget Balancer !© 2026 | Built for Hackathon Chaos</p>
    </div>
</body>
</html>